In [22]:
import pandas as pd 
import numpy as np

In [44]:
%%time
df = pd.read_parquet('ic_normalised_final.parquet')
df

CPU times: total: 14.8 s
Wall time: 11.2 s

,Disease,Orpha_ID,hpo_id,Phenotype,ncbi_gene_id,gene_symbol,ic_scores,IC_normalized,weights
0,Alexander disease,58,HP:0000256,Macrocephaly,51256,TBC1D7,2.458870,0.711152,0.127231
1,Alexander disease,58,HP:0000256,Macrocephaly,1139,CHRNA7,2.458870,0.711152,0.282249
2,Alexander disease,58,HP:0000256,Macrocephaly,2132,EXT2,2.458870,0.711152,0.783056
3,Alexander disease,58,HP:0000256,Macrocephaly,3703,STT3A,2.458870,0.711152,0.278956
4,Alexander disease,58,HP:0000256,Macrocephaly,2261,FGFR3,2.458870,0.711152,0.985384
...,...,...,...,...,...,...,...,...,...
23427013,CADDS,369942,HP:0033643,Increased circulating very long-chain fatty ac...,3295,HSD17B4,6.215408,0.998626,0.707284
23427014,CADDS,369942,HP:0033643,Increased circulating very long-chain fatty ac...,23600,AMACR,6.215408,0.998626,0.334570
23427015,Spinocerebellar ataxia with epilepsy,254881,HP:0033720,EEG with occipital epileptiform discharges,7030,TFE3,7.131699,0.999702,0.545246
23427016,Spinocerebellar ataxia with epilepsy,254881,HP:0033720,EEG with occipital epileptiform discharges,23102,TBC1D2B,7.131699,0.999702,0.310976
23427017,Macrocephaly-intellectual disability-autism sy...,210548,HP:0006781,Hurthle cell thyroid adenoma,79577,CDC73,7.419381,0.999826,0.120555

In [62]:
%%time
df_gene_disease = pd.DataFrame(df,columns=['Orpha_ID','gene_symbol','weights'])
df_phen_gene = pd.DataFrame(df,columns=['hpo_id','gene_symbol'])
df_phen_gene

CPU times: total: 1.5 s
Wall time: 2.32 s

              hpo_id gene_symbol
0         HP:0000256      TBC1D7
1         HP:0000256      CHRNA7
2         HP:0000256        EXT2
3         HP:0000256       STT3A
4         HP:0000256       FGFR3
...              ...         ...
23427013  HP:0033643     HSD17B4
23427014  HP:0033643       AMACR
23427015  HP:0033720        TFE3
23427016  HP:0033720     TBC1D2B
23427017  HP:0006781       CDC73

[23427018 rows x 2 columns]

In [77]:
%%time
df_gene_disease_dict = df_gene_disease.groupby(['gene_symbol'])['Orpha_ID'].apply(lambda grp: list(grp.value_counts().index)).to_dict()
df_phen_gene_dict = df_phen_gene.groupby(['hpo_id'])['gene_symbol'].apply(lambda grp: list(grp.value_counts().index)).to_dict()

CPU times: total: 10.5 s
Wall time: 15.4 s

In [78]:
def cleanup(row):
    oid = []
    for x in row[1][1:-1].split(sep=','):
        try:
            oid.append(int(x.replace(' ','')))
        except:
            pass
    if oid == []:
        return -1
    return oid
test_df = pd.read_csv('ground_truth.csv')
test_df['phenotype']=test_df.apply(lambda row: [x.replace("'",'').replace(' ','') for x in row[0][1:-1].split(sep=',')],axis=1)
test_df['gene']=test_df.apply(lambda row: [x.replace("'",'').replace(' ','') for x in row[2][1:-1].split(sep=',')],axis=1)
test_df['oid'] = test_df.apply(cleanup,axis=1)

In [79]:
df_phen_gene_dict['HP:0010301']

['LMX1B',
 'AMER1',
 'FLNA',
 'CUL7',
 'COLEC10',
 'DLL3',
 'BMP2',
 'KCNH1',
 'ARID1B',
 'MYH3',
 'NOTCH2NLC',
 'KANSL1',
 'TBX6',
 'IRF6',
 'DACT1',
 'DARS1',
 'IKBKG',
 'TBC1D24',
 'ATP6V1B2',
 'BRAF',
 'MAP3K7',
 'CHRNG',
 'HMX1',
 'CCBE1',
 'DLK1',
 'RTL1',
 'SOX9',
 'PLEC',
 'RMRP',
 'KIF22',
 'MTR',
 'MTRR',
 'MTHFD1',
 'MTHFR',
 'PIK3CA',
 'RUNX2',
 'FLNB',
 'POLA1',
 'RECQL4',
 'PUF60',
 'BICD2',
 'PTPN11',
 'VANGL1',
 'VANGL2',
 'SUFU',
 'PHGDH',
 'SLC25A19',
 'FLI1',
 'PSAT1',
 'GDF3',
 'HRAS',
 'TBX1',
 'JMJD1C',
 'RBM8A',
 'ERCC4',
 'RAD51',
 'BRCA2',
 'BRCA1',
 'NF1',
 'PAX3',
 'FANCB',
 'SNRPB',
 'PTCH2',
 'PTCH1',
 'FUZ',
 'SALL4',
 'TBXT',
 'ZIC1',
 'B3GLCT',
 'ELN',
 'STX1A',
 'ACTB',
 'NEK9',
 'CCNQ',
 'TNXB',
 'EP300',
 'CREBBP',
 'FIBP',
 'PTDSS1',
 'PORCN',
 'LIG4',
 'CHN1',
 'MAFB',
 'MEG3']

In [80]:
%%time
def prediction(row):
    possible_genes ={}
    phenotypes = set(row[0])
    for phen in phenotypes:
#         if the phenotype from the test case doesnt exist then we add an empty list instead of removing the test case completely
        try:
            genes = df_phen_gene_dict[phen]
        except:
            genes = [] 
        for x in genes:
            if x not in possible_genes.keys():
                possible_genes[x] = 1
            else:
                possible_genes[x] += 1
#     print(possible_genes)
#     print('----------------------------')
#     possible_genes = dict(sorted(possible_genes.items(), key=lambda x:x[1], reverse=True))
    try:
        max_occur = max(possible_genes.values())
        possible_genes = dict({(k, v) for k, v in possible_genes.items() if v == max_occur})
#     print(possible_genes)
        return possible_genes.keys()
    except:
        return -1
test_df['result'] = test_df.apply(prediction,axis=1)
test_df

CPU times: total: 62.5 ms
Wall time: 152 ms

,phenotype,oid,gene,result
0,"[HP:0010301, HP:0000252, HP:0001263]",[353284],[EP300],"(ACTB, IKBKG, MAFB, KCNH1, ELN, PUF60, POLA1, ..."
1,"[HP:0001263, HP:0002650, HP:0001382, HP:000207...",[1465],[SMARCB1],"(USP9X, PYCR2, OTUD6B, TAF1, LONP1, SLC35A2, U..."
2,"[HP:0001263, HP:0004322, HP:0100255]",[319671],[LARP7],"(GJA1, TMEM165, UFSP2, PIK3C2A, RMRP, EXTL3, L..."
3,[HP:0007105],"[85201, 3047]",[KAT6B],"(CCDC88A, D2HGDH, TK2, SLC19A3, GCDH, TSEN54, ..."
4,"[HP:0009372, HP:0001193, HP:0007598, HP:0001762]",[93384],[GDF5],"(GDF5, BMPR1B)"
...,...,...,...,...
224,"[HP:0005616, HP:0000646, HP:0001263, HP:000199...","[79443, 79444]",[GNAS],"(SALL4, FLNA)"
225,"[HP:0001263, HP:0001999, HP:0001510, HP:000138...",[3163],[PIK3R1],"(SLC6A8, USP9X, PYCR2, OTUD6B, TAF1, LONP1, SL..."
226,"[HP:0000062, HP:0001328]","[242, 251510]",[NR5A1],"(CKAP2L, SHH, ARX, TCTN3, IGF2, HCCS, IRF6, FZ..."
227,"[HP:0000365, HP:0000365, HP:0007703, HP:000066...","[53540, 791]",[NR2E3],"(BBS1, OFD1, RPE65, PROM1, CRB1, RLBP1, PRPH2,..."
228,"[HP:0001631, HP:0000717, HP:0001263, HP:000199...",[821],[NSD1],"(CREBBP, TBX1)"

In [81]:
test_df_2 = test_df[test_df['result'] != -1]
test_df_2

,phenotype,oid,gene,result
0,"[HP:0010301, HP:0000252, HP:0001263]",[353284],[EP300],"(ACTB, IKBKG, MAFB, KCNH1, ELN, PUF60, POLA1, ..."
1,"[HP:0001263, HP:0002650, HP:0001382, HP:000207...",[1465],[SMARCB1],"(USP9X, PYCR2, OTUD6B, TAF1, LONP1, SLC35A2, U..."
2,"[HP:0001263, HP:0004322, HP:0100255]",[319671],[LARP7],"(GJA1, TMEM165, UFSP2, PIK3C2A, RMRP, EXTL3, L..."
3,[HP:0007105],"[85201, 3047]",[KAT6B],"(CCDC88A, D2HGDH, TK2, SLC19A3, GCDH, TSEN54, ..."
4,"[HP:0009372, HP:0001193, HP:0007598, HP:0001762]",[93384],[GDF5],"(GDF5, BMPR1B)"
...,...,...,...,...
224,"[HP:0005616, HP:0000646, HP:0001263, HP:000199...","[79443, 79444]",[GNAS],"(SALL4, FLNA)"
225,"[HP:0001263, HP:0001999, HP:0001510, HP:000138...",[3163],[PIK3R1],"(SLC6A8, USP9X, PYCR2, OTUD6B, TAF1, LONP1, SL..."
226,"[HP:0000062, HP:0001328]","[242, 251510]",[NR5A1],"(CKAP2L, SHH, ARX, TCTN3, IGF2, HCCS, IRF6, FZ..."
227,"[HP:0000365, HP:0000365, HP:0007703, HP:000066...","[53540, 791]",[NR2E3],"(BBS1, OFD1, RPE65, PROM1, CRB1, RLBP1, PRPH2,..."
228,"[HP:0001631, HP:0000717, HP:0001263, HP:000199...",[821],[NSD1],"(CREBBP, TBX1)"

In [82]:
df_gene_disease_dict['ELN']

[904,
 567,
 90348,
 363965,
 363958,
 353284,
 353277,
 261552,
 84,
 2152,
 534,
 1606,
 818,
 800,
 99413,
 99226,
 99228,
 881,
 261537,
 199,
 821,
 280,
 536471,
 666,
 3455,
 268261,
 354,
 96148,
 138,
 286,
 581,
 353281,
 819,
 96170,
 96121,
 1340,
 464306,
 261494,
 2710,
 261349,
 828,
 192,
 369891,
 955,
 235,
 10,
 177907,
 261318,
 91387,
 96334,
 96169,
 2745,
 500150,
 1507,
 798,
 97685,
 508488,
 363528,
 480880,
 464311,
 444077,
 309282,
 191,
 438213,
 3380,
 363705,
 3107,
 3342,
 96264,
 468678,
 363611,
 79318,
 536467,
 363700,
 1465,
 95699,
 2162,
 709,
 2462,
 2990,
 369837,
 536545,
 96263,
 217093,
 352665,
 453504,
 251028,
 579,
 391372,
 847,
 536532,
 2461,
 193,
 96147,
 217085,
 96167,
 33364,
 352490,
 2962,
 2322,
 175,
 90349,
 171929,
 2308,
 96092,
 2556,
 466950,
 1600,
 404448,
 508498,
 324,
 79500,
 648,
 1052,
 3378,
 373,
 93924,
 93925,
 487796,
 93926,
 3071,
 220386,
 94065,
 79324,
 93932,
 636,
 398069,
 1596,
 79474,
 284169,
 2067,
 466791,
 453499,
 2753,
 466943,
 2896,
 1272,
 857,
 562528,
 391408,
 250989,
 457395,
 2719,
 198,
 93473,
 861,
 909,
 329224,
 2273,
 356961,
 58,
 7,
 2953,
 287,
 2044,
 580,
 3310,
 744,
 506358,
 500,
 1199,
 649,
 261337,
 476126,
 261330,
 97360,
 565,
 101000,
 3472,
 285,
 254346,
 464,
 558,
 261290,
 1900,
 870,
 1308,
 261652,
 505237,
 314585,
 2526,
 251014,
 459070,
 508533,
 3219,
 369950,
 494344,
 319182,
 915,
 79321,
 357001,
 251071,
 404440,
 61,
 363659,
 740,
 230851,
 488632,
 2789,
 2636,
 284984,
 72,
 464738,
 289,
 254892,
 35107,
 813,
 2658,
 261112,
 1452,
 783,
 1834,
 96149,
 261279,
 506,
 3447,
 314588,
 209905,
 96182,
 550,
 576283,
 48652,
 1830,
 79329,
 442835,
 355,
 97297,
 481152,
 576,
 447980,
 93,
 500055,
 646,
 2750,
 357074,
 3338,
 99776,
 2479,
 505248,
 589905,
 261197,
 449291,
 2671,
 794,
 2637,
 2092,
 333,
 2169,
 116,
 500159,
 502434,
 2995,
 177904,
 2614,
 2834,
 93357,
 51,
 480907,
 85321,
 171839,
 3379,
 3309,
 90324,
 90321,
 672,
 1727,
 64,
 2108,
 797,
 1772,
 364028,
 485405,
 560,
 79282,
 739,
 79328,
 2729,
 444002,
 3306,
 1387,
 84064,
 177901,
 98793,
 261250,
 261323,
 73272,
 3047,
 2707,
 420561,
 812,
 65286,
 2554,
 2588,
 559,
 251066,
 557003,
 513456,
 478,
 2510,
 1327,
 79325,
 276432,
 93400,
 357058,
 763,
 1106,
 1775,
 477817,
 124,
 251019,
 439822,
 1713,
 86309,
 280633,
 397709,
 1926,
 363444,
 582,
 1166,
 46059,
 912,
 251056,
 75857,
 98754,
 261211,
 85293,
 52,
 2849,
 1292,
 1675,
 1812,
 273,
 464288,
 79239,
 963,
 2496,
 2754,
 2363,
 398079,
 765,
 435638,
 1620,
 96125,
 3474,
 2836,
 805,
 1798,
 3163,
 628,
 2712,
 702,
 109,
 1580,
 2311,
 502,
 1915,
 79255,
 412069,
 17,
 1458,
 1225,
 96184,
 221008,
 163956,
 363686,
 2077,
 2059,
 699,
 2203,
 238750,
 758,
 3258,
 100,
 401777,
 1598,
 314769,
 99843,
 322,
 98791,
 544254,
 397941,
 769,
 570,
 568,
 2886,
 2209,
 261183,
 902,
 300570,
 233,
 811,
 2315,
 166035,
 3463,
 444072,
 500095,
 96061,
 530983,
 1328,
 1724,
 264450,
 93399,
 2323,
 1001,
 949,
 3255,
 457485,
 1519,
 261236,
 293987,
 457279,
 1912,
 544488,
 2135,
 2971,
 90652,
 290,
 1786,
 261311,
 544503,
 3137,
 1555,
 284160,
 117,
 254528,
 3051,
 2115,
 94063,
 90289,
 163937,
 221016,
 572798,
 371364,
 284979,
 1493,
 536516,
 221139,
 365,
 1466,
 900,
 457359,
 394,
 59,
 2409,
 167635,
 1695,
 2701,
 2911,
 247262,
 2617,
 2031,
 251061,
 96201,
 79327,
 263487,
 401973,
 1842,
 201,
 254913,
 445038,
 1454,
 2715,
 457240,
 2511,
 280071,
 488642,
 468631,
 3253,
 221120,
 75496,
 44,
 3079,
 99027,
 3205,
 1515,
 886,
 42775,
 1826,
 90322,
 2072,
 1708,
 352577,
 2785,
 529665,
 370968,
 284339,
 370927,
 79443,
 217340,
 485350,
 3206,
 3132,
 529962,
 137834,
 1913,
 83617,
 397715,
 2369,
 144,
 313947,
 3339,
 2780,
 77293,
 77301,
 950,
 2078,
 2616,
 60030,
 2970,
 466926,
 2008,
 1699,
 35173,
 276413,
 2563,
 2136,
 171829,
 250999,
 776,
 2020,
 79259,
 2872,
 3242,
 60040,
 3385,
 2053,
 742,
 229,
 293939,
 96191,
 1825,
 1988,
 2131,
 1942,
 3304,
 435628,
 95430,
 2958,
 1304,
 1716,
 440437,
 261476,
 127,
 3063,
 541423,
 3095,
 96176,
 251383,
 183,
 1449,
 910,
 349,
 51608,
 324313,
 1587,
 1185,
 3041,
 959,
 1163,
 1745,
 3103,
 561854,
 14,
 412057,
 1934,
 228123,
 459061,
 168569,
 293967,
 555877,
 85276,
 502423,
 3068,
 495875,
 480864,
 91139,
 314679,
 137605,
 370079,
 85448,
 457193,
 85278,
 1495,
 2396,
 1901,
 141099,
 2215,
 2471,
 2282,
 90354,
 157850,
 487825,
 66631,
 2463,
 363417,
 371428,
 589618,
 1707,
 1035,
 475,
 808,
 1358,
 391417,
 1703,
 284180,
 1005,
 845,
 1388,
 1974,
 2963,
 1738,
 228402,
 98794,
 1297,
 329178,
 79404,
 99646,
 249,
 834,
 85282,
 35687,
 3191,
 3157,
 226307,
 98889,
 254531,
 732,
 2505,
 141127,
 87876,
 314647,
 79351,
 1131,
 228360,
 2792,
 1920,
 37553,
 93315,
 2720,
 79320,
 220493,
 1692,
 220497,
 3473,
 521426,
 85201,
 404473,
 228410,
 261190,
 464282,
 250994,
 99330,
 217346,
 137898,
 26791,
 99329,
 2180,
 496790,
 561,
 33445,
 3166,
 1334,
 289522,
 98853,
 1908,
 293843,
 1051,
 1194,
 586,
 136,
 2655,
 1968,
 3042,
 782,
 1390,
 1488,
 98863,
 330015,
 395,
 261,
 1764,
 11,
 281,
 1636,
 589821,
 135,
 3409,
 2557,
 54595,
 79345,
 578,
 773,
 225,
 79408,
 2518,
 791,
 2980,
 438216,
 3220,
 3224,
 261229,
 70472,
 2332,
 90068,
 98905,
 887,
 171436,
 2673,
 397,
 2052,
 404443,
 370959,
 488627,
 90291,
 261144,
 899,
 88644,
 264200,
 577,
 447997,
 2318,
 52503,
 280763,
 3270,
 87,
 3287,
 1516,
 980,
 1979,
 908,
 1018,
 1655,
 314389,
 893,
 90674,
 397590,
 261534,
 456312,
 508,
 79076,
 79333,
 88618,
 772,
 2959,
 47159,
 2377,
 522077,
 1686,
 1101,
 263508,
 647,
 352530,
 3092,
 3085,
 125,
 163746,
 90153,
 457284,
 8,
 79430,
 1252,
 1517,
 3208,
 1110,
 3197,
 98914,
 289390,
 3138,
 1192,
 2484,
 96,
 1299,
 217335,
 3440,
 590,
 2388,
 412035,
 1865,
 99956,
 99921,
 163649,
 2522,
 56,
 280200,
 319671,
 93552,
 96168,
 98673,
 2176,
 289494,
 833,
 93329,
 94068,
 97362,
 447788,
 207,
 73223,
 79243,
 3099,
 920,
 163654,
 79322,
 46627,
 3260,
 238769,
 2728,
 2107,
 2050,
 495818,
 52055,
 1778,
 588,
 35069,
 3384,
 167,
 1970,
 73246,
 254519,
 185,
 313892,
 2166,
 3121,
 464321,
 2065,
 457351,
 447896,
 1150,
 496641,
 3320,
 324737,
 391641,
 2047,
 3375,
 1752,
 1702,
 500533,
 2412,
 254525,
 99812,
 231214,
 251046,
 231226,
 432,
 391487,
 264580,
 85194,
 1855,
 99889,
 466768,
 2609,
 457260,
 48431,
 208441,
 231140,
 3412,
 2968,
 760,
 157941,
 1435,
 2326,
 2013,
 3134,
 884,
 168491,
 93260,
 83,
 1427,
 436003,
 3027,
 65759,
 2314,
 2370,
 894,
 99886,
 251009,
 163979,
 2759,
 1914,
 352649,
 251038,
 2916,
 525731,
 139396,
 1520,
 1762,
 1394,
 364577,
 443811,
 199318,
 1715,
 89842,
 276422,
 140,
 258,
 2143,
 2994,
 93307,
 178303,
 88639,
 73230,
 2822,
 436271,
 79444,
 505652,
 420179,
 2769,
 261344,
 1899,
 585,
 94147,
 1787,
 2570,
 466677,
 565624,
 85284,
 583,
 1597,
 3080,
 293948,
 73263,
 281090,
 50,
 86818,
 444051,
 90041,
 317,
 767,
 357175,
 85199,
 2356,
 324636,
 66625,
 1446,
 239,
 2909,
 261120,
 77296,
 2645,
 464329,
 488635,
 2863,
 280679,
 1642,
 377,
 98808,
 284,
 391428,
 93323,
 1560,
 59315,
 100996,
 667,
 75389,
 85443,
 236,
 97214,
 3376,
 166108,
 96123,
 95409,
 244310,
 171439,
 43,
 2075,
 110,
 300179,
 1806,
 96097,
 319332,
 169186,
 1617,
 261222,
 633,
 99885,
 2538,
 512,
 2062,
 488613,
 2714,
 573278,
 3008,
 1797,
 2268,
 521258,
 2475,
 168577,
 3222,
 391307,
 254516,
 93672,
 1556,
 544469,
 79101,
 3055,
 213,
 2835,
 1236,
 468699,
 93274,
 2429,
 ...]

In [86]:
%%time
disease_length_occur =[]
def predict_d(row):
    possible_oid ={}
#     print('---------')
#     print(row[3])
    for gene in row[3]:
        oid = df_gene_disease_dict[gene]
        for x in oid:
            if x not in possible_oid.keys():
                possible_oid[x] = 1
            else:
                possible_oid[x] += 1
    possible_oid = dict(sorted(possible_oid.items(), key=lambda x:x[1], reverse=True))
    try:
        max_occur = max(possible_oid.values())
#         print(possible_oid)
        possible_oid = dict({(k, v) for k, v in possible_oid.items() if v == max_occur})
#         print(possible_oid)
#         print(len(possible_oid))
        disease_length_occur.append(len(possible_oid))
#         print('___________________')
        return possible_oid.keys()
    except:
        return -1
test_df_2['disease_pred'] = test_df_2.apply(predict_d,axis=1)

CPU times: total: 5.59 s
Wall time: 7.64 s

<timed exec>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [87]:
test_df_2 = test_df_2[test_df_2['disease_pred'] != -1]
test_df_2

,phenotype,oid,gene,result,disease_pred
0,"[HP:0010301, HP:0000252, HP:0001263]",[353284],[EP300],"(ACTB, IKBKG, MAFB, KCNH1, ELN, PUF60, POLA1, ...","(98913, 3472, 428, 353298, 562, 199343, 300605..."
1,"[HP:0001263, HP:0002650, HP:0001382, HP:000207...",[1465],[SMARCB1],"(USP9X, PYCR2, OTUD6B, TAF1, LONP1, SLC35A2, U...","(26, 2238, 1842, 457365, 319213, 847, 83617, 2..."
2,"[HP:0001263, HP:0004322, HP:0100255]",[319671],[LARP7],"(GJA1, TMEM165, UFSP2, PIK3C2A, RMRP, EXTL3, L...","(1147, 18, 261349, 228190, 2617, 2751, 254528,..."
3,[HP:0007105],"[85201, 3047]",[KAT6B],"(CCDC88A, D2HGDH, TK2, SLC19A3, GCDH, TSEN54, ...","(573278, 40366, 66625, 137935, 401830, 457212,..."
4,"[HP:0009372, HP:0001193, HP:0007598, HP:0001762]",[93384],[GDF5],"(GDF5, BMPR1B)","(1695, 3339, 1433, 3473, 220493, 281122, 429, ..."
...,...,...,...,...,...
224,"[HP:0005616, HP:0000646, HP:0001263, HP:000199...","[79443, 79444]",[GNAS],"(SALL4, FLNA)","(2690, 1695, 42665, 3339, 1433, 276608, 220493..."
225,"[HP:0001263, HP:0001999, HP:0001510, HP:000138...",[3163],[PIK3R1],"(SLC6A8, USP9X, PYCR2, OTUD6B, TAF1, LONP1, SL...","(26, 2238, 1842, 457365, 319213, 847, 83617, 2..."
226,"[HP:0000062, HP:0001328]","[242, 251510]",[NR5A1],"(CKAP2L, SHH, ARX, TCTN3, IGF2, HCCS, IRF6, FZ...","(1797, 144, 93333, 65683, 36426, 363686, 2743,..."
227,"[HP:0000365, HP:0000365, HP:0007703, HP:000066...","[53540, 791]",[NR2E3],"(BBS1, OFD1, RPE65, PROM1, CRB1, RLBP1, PRPH2,...","(98758, 496641, 189427, 1006, 168549, 11, 3524..."
228,"[HP:0001631, HP:0000717, HP:0001263, HP:000199...",[821],[NSD1],"(CREBBP, TBX1)","(2690, 1695, 42665, 3339, 1433, 276608, 3473, ..."

In [88]:
disease_length_occur

[2098,
 2474,
 2140,
 2070,
 2438,
 924,
 2251,
 2372,
 1677,
 2430,
 1883,
 297,
 3670,
 1263,
 2378,
 2906,
 3730,
 1543,
 3245,
 1750,
 2546,
 3411,
 3520,
 3142,
 2060,
 3386,
 1366,
 356,
 1202,
 2391,
 1727,
 743,
 3071,
 2342,
 2636,
 3604,
 3468,
 2178,
 2345,
 3711,
 3037,
 505,
 1650,
 490,
 1046,
 1242,
 408,
 2360,
 2230,
 2553,
 454,
 2922,
 567,
 3233,
 2676,
 507,
 2766,
 1269,
 2711,
 1878,
 2628,
 2649,
 664,
 4025,
 1733,
 2918,
 682,
 1309,
 2384,
 3065,
 2247,
 2113,
 2118,
 726,
 987,
 3245,
 2016,
 2316,
 263,
 2916,
 2226,
 843,
 3557,
 2219,
 3364,
 3425,
 4022,
 3658,
 1320,
 626,
 1107,
 3929,
 3071,
 3926,
 1396,
 1878,
 3318,
 3510,
 3151,
 2259,
 3210,
 3508,
 3269,
 2262,
 3966,
 3192,
 3435,
 2847,
 3455,
 2990,
 3850,
 3932,
 751,
 2886,
 3036,
 2732,
 2459,
 3394,
 3959,
 2524,
 3489,
 4022,
 3053,
 2332,
 1838,
 3076,
 3631,
 3409,
 2297,
 2314,
 2419,
 3368,
 2218,
 1878,
 3175,
 3333,
 2827,
 3125,
 2995,
 2310,
 3874,
 2471,
 4022,
 3982,
 3150,
 2947,
 2084,
 3347,
 2867,
 2608,
 3731,
 3125,
 4025,
 3553,
 2175,
 2096,
 1052,
 3504,
 2677,
 1770,
 3084,
 3285,
 413,
 1702,
 678,
 2008,
 2933,
 2717,
 2384,
 1419,
 1153,
 3100,
 3260,
 3327,
 3058,
 3468,
 3430,
 2926,
 2274,
 432,
 2812,
 2123,
 2625,
 3041,
 2348,
 2659,
 2990,
 2179,
 2628,
 2957,
 2628,
 3231,
 3560,
 3259,
 3589,
 621,
 677,
 3504,
 1484,
 2942,
 3806,
 1278,
 3812,
 1772,
 496,
 3217,
 3035,
 2809,
 2612,
 990,
 913,
 840,
 4079,
 2444,
 2444,
 2375,
 2619,
 2226,
 2323,
 778,
 4022,
 1404,
 1842,
 3530,
 2463,
 2185,
 2530,
 3706]

In [76]:
disease_length_wts

[2098,
 2474,
 2140,
 2070,
 2438,
 924,
 2251,
 2372,
 1677,
 2430,
 1883,
 297,
 3670,
 1263,
 2378,
 2906,
 3730,
 1543,
 3245,
 1750,
 2546,
 3411,
 3520,
 3142,
 2060,
 3386,
 1366,
 356,
 1202,
 2391,
 1727,
 743,
 3071,
 2342,
 2636,
 3604,
 3468,
 2178,
 2345,
 3711,
 3037,
 505,
 1650,
 490,
 1046,
 1242,
 408,
 2360,
 2230,
 2553,
 454,
 2922,
 567,
 3233,
 2676,
 507,
 2766,
 1269,
 2711,
 1878,
 2628,
 2649,
 664,
 4025,
 1733,
 2918,
 682,
 1309,
 2384,
 3065,
 2247,
 2113,
 2118,
 726,
 987,
 3245,
 2016,
 2316,
 263,
 2916,
 2226,
 843,
 3557,
 2219,
 3364,
 3425,
 4022,
 3658,
 1320,
 626,
 1107,
 3929,
 3071,
 3926,
 1396,
 1878,
 3318,
 3510,
 3151,
 2259,
 3210,
 3508,
 3269,
 2262,
 3966,
 3192,
 3435,
 2847,
 3455,
 2990,
 3850,
 3932,
 751,
 2886,
 3036,
 2732,
 2459,
 3394,
 3959,
 2524,
 3489,
 4022,
 3053,
 2332,
 1838,
 3076,
 3631,
 3409,
 2297,
 2314,
 2419,
 3368,
 2218,
 1878,
 3175,
 3333,
 2827,
 3125,
 2995,
 2310,
 3874,
 2471,
 4022,
 3982,
 3150,
 2947,
 2084,
 3347,
 2867,
 2608,
 3731,
 3125,
 4025,
 3553,
 2175,
 2096,
 1052,
 3504,
 2677,
 1770,
 3084,
 3285,
 413,
 1702,
 678,
 2008,
 2933,
 2717,
 2384,
 1419,
 1153,
 3100,
 3260,
 3327,
 3058,
 3468,
 3430,
 2926,
 2274,
 432,
 2812,
 2123,
 2625,
 3041,
 2348,
 2659,
 2990,
 2179,
 2628,
 2957,
 2628,
 3231,
 3560,
 3259,
 3589,
 621,
 677,
 3504,
 1484,
 2942,
 3806,
 1278,
 3812,
 1772,
 496,
 3217,
 3035,
 2809,
 2612,
 990,
 913,
 840,
 4079,
 2444,
 2444,
 2375,
 2619,
 2226,
 2323,
 778,
 4022,
 1404,
 1842,
 3530,
 2463,
 2185,
 2530,
 3706]

In [85]:
disease_length_wts=[2098,
 2474,
 2140,
 2070,
 2438,
 924,
 2251,
 2372,
 1677,
 2430,
 1883,
 297,
 3670,
 1263,
 2378,
 2906,
 3730,
 1543,
 3245,
 1750,
 2546,
 3411,
 3520,
 3142,
 2060,
 3386,
 1366,
 356,
 1202,
 2391,
 1727,
 743,
 3071,
 2342,
 2636,
 3604,
 3468,
 2178,
 2345,
 3711,
 3037,
 505,
 1650,
 490,
 1046,
 1242,
 408,
 2360,
 2230,
 2553,
 454,
 2922,
 567,
 3233,
 2676,
 507,
 2766,
 1269,
 2711,
 1878,
 2628,
 2649,
 664,
 4025,
 1733,
 2918,
 682,
 1309,
 2384,
 3065,
 2247,
 2113,
 2118,
 726,
 987,
 3245,
 2016,
 2316,
 263,
 2916,
 2226,
 843,
 3557,
 2219,
 3364,
 3425,
 4022,
 3658,
 1320,
 626,
 1107,
 3929,
 3071,
 3926,
 1396,
 1878,
 3318,
 3510,
 3151,
 2259,
 3210,
 3508,
 3269,
 2262,
 3966,
 3192,
 3435,
 2847,
 3455,
 2990,
 3850,
 3932,
 751,
 2886,
 3036,
 2732,
 2459,
 3394,
 3959,
 2524,
 3489,
 4022,
 3053,
 2332,
 1838,
 3076,
 3631,
 3409,
 2297,
 2314,
 2419,
 3368,
 2218,
 1878,
 3175,
 3333,
 2827,
 3125,
 2995,
 2310,
 3874,
 2471,
 4022,
 3982,
 3150,
 2947,
 2084,
 3347,
 2867,
 2608,
 3731,
 3125,
 4025,
 3553,
 2175,
 2096,
 1052,
 3504,
 2677,
 1770,
 3084,
 3285,
 413,
 1702,
 678,
 2008,
 2933,
 2717,
 2384,
 1419,
 1153,
 3100,
 3260,
 3327,
 3058,
 3468,
 3430,
 2926,
 2274,
 432,
 2812,
 2123,
 2625,
 3041,
 2348,
 2659,
 2990,
 2179,
 2628,
 2957,
 2628,
 3231,
 3560,
 3259,
 3589,
 621,
 677,
 3504,
 1484,
 2942,
 3806,
 1278,
 3812,
 1772,
 496,
 3217,
 3035,
 2809,
 2612,
 990,
 913,
 840,
 4079,
 2444,
 2444,
 2375,
 2619,
 2226,
 2323,
 778,
 4022,
 1404,
 1842,
 3530,
 2463,
 2185,
 2530,
 3706]
disease_length_wts

[2098,
 2474,
 2140,
 2070,
 2438,
 924,
 2251,
 2372,
 1677,
 2430,
 1883,
 297,
 3670,
 1263,
 2378,
 2906,
 3730,
 1543,
 3245,
 1750,
 2546,
 3411,
 3520,
 3142,
 2060,
 3386,
 1366,
 356,
 1202,
 2391,
 1727,
 743,
 3071,
 2342,
 2636,
 3604,
 3468,
 2178,
 2345,
 3711,
 3037,
 505,
 1650,
 490,
 1046,
 1242,
 408,
 2360,
 2230,
 2553,
 454,
 2922,
 567,
 3233,
 2676,
 507,
 2766,
 1269,
 2711,
 1878,
 2628,
 2649,
 664,
 4025,
 1733,
 2918,
 682,
 1309,
 2384,
 3065,
 2247,
 2113,
 2118,
 726,
 987,
 3245,
 2016,
 2316,
 263,
 2916,
 2226,
 843,
 3557,
 2219,
 3364,
 3425,
 4022,
 3658,
 1320,
 626,
 1107,
 3929,
 3071,
 3926,
 1396,
 1878,
 3318,
 3510,
 3151,
 2259,
 3210,
 3508,
 3269,
 2262,
 3966,
 3192,
 3435,
 2847,
 3455,
 2990,
 3850,
 3932,
 751,
 2886,
 3036,
 2732,
 2459,
 3394,
 3959,
 2524,
 3489,
 4022,
 3053,
 2332,
 1838,
 3076,
 3631,
 3409,
 2297,
 2314,
 2419,
 3368,
 2218,
 1878,
 3175,
 3333,
 2827,
 3125,
 2995,
 2310,
 3874,
 2471,
 4022,
 3982,
 3150,
 2947,
 2084,
 3347,
 2867,
 2608,
 3731,
 3125,
 4025,
 3553,
 2175,
 2096,
 1052,
 3504,
 2677,
 1770,
 3084,
 3285,
 413,
 1702,
 678,
 2008,
 2933,
 2717,
 2384,
 1419,
 1153,
 3100,
 3260,
 3327,
 3058,
 3468,
 3430,
 2926,
 2274,
 432,
 2812,
 2123,
 2625,
 3041,
 2348,
 2659,
 2990,
 2179,
 2628,
 2957,
 2628,
 3231,
 3560,
 3259,
 3589,
 621,
 677,
 3504,
 1484,
 2942,
 3806,
 1278,
 3812,
 1772,
 496,
 3217,
 3035,
 2809,
 2612,
 990,
 913,
 840,
 4079,
 2444,
 2444,
 2375,
 2619,
 2226,
 2323,
 778,
 4022,
 1404,
 1842,
 3530,
 2463,
 2185,
 2530,
 3706]

In [21]:
test_df_3 = test_df_2[test_df_2['disease_pred'] != -1]
def func(row):
#     print(type(row[1]),type(row[3]))
    count = 0 
    try:
        for x in row[1]:
            if x in row[3]:
                count +=1
        if count == len(row[1]):
            return 1
        else:
            return 0
    except:
        return -1
test_df_3['score'] = test_df_3.apply(func,axis=1)
test_df_3.score.value_counts()

C:\Users\Nisarga\AppData\Local\Temp\ipykernel_14124\2358195165.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df_3['score'] = test_df_3.apply(func,axis=1)

 1    131
 0     49
-1     10
Name: score, dtype: int64

In [71]:
test_df_3.drop(columns=['oid'],inplace=True)
test_df_3.rename(columns={'disease_pred' : 'oid'},inplace=True)
test_df_3 = pd.DataFrame(test_df_2,columns=['phenotype','oid'])
test_df_3.to_csv('dict_oid_res_test.csv',index=False)

In [72]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 22:59:44